---
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
import vidArctic from "./projects/arctic/arctic-vid-01.mp4";
import vidCuddlebook from "./projects/cuddlebook/cuddlebook-vid-01-640x360-600kbps.mp4";
import vidLusion from "./projects/lusion/lusion-vid-01.mp4";
import vidMrRemotingUnity from "./projects/mr-remoting-unity/mr-remoting-01-400x400-240kbps.mp4";
---

<Layout>
	<section class="flex flex-col gap-4">
		<h2 class="tracking-[0.8rem]">ABOUT</h2>
		<p>I'm a full stack programmer and designer who builds 3D experiences</p>
	</section>
	<section class="flex flex-col gap-4">
		<h2 class="tracking-[0.8rem]">PROJECTS</h2>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
			<!-- <div class="flex flex-col gap-20"> -->
			<ProjectCard
				title="Cuddlebook"
				videoSrc={vidCuddlebook}
				href="/projects/cuddlebook"
			/>
			<ProjectCard
				title="Arctic Sea Ice"
				videoSrc={vidArctic}
				href="/projects/arctic-sea-ice"
			/>
			<ProjectCard
				title="Lusion, reverse engineered"
				videoSrc={vidLusion}
				href="/projects/lusion-reverse-engineered"
			/>
			<ProjectCard
				title="Mixed Reality Remoting for Unity"
				videoSrc={vidMrRemotingUnity}
				href="/projects/mixed-reality-remoting-for-unity"
			/>
			<ProjectCard title="Triosa" href="/projects/triosa" />
			<ProjectCard title="Dreamglass" href="/projects/dreamglass" />
			<ProjectCard
				title="Equinor - Wind Farm Planner"
				href="/projects/equinor-wind-farm-planner"
			/>
			<ProjectCard
				title="Aflac - Knowing Cancer"
				href="/projects/aflac-knowing-cancer"
			/>
			<ProjectCard title="CSR Racing 2" href="/projects/csr-racing-2" />
			<ProjectCard
				title="Amateur Surgeon 3"
				href="/projects/amateur-surgeon-3"
			/>
			<ProjectCard title="Delivery Outlaw" href="/projects/delivery-outlaw" />
		</div>
	</section>
</Layout>
