---
interface Props {
  href: string;
  title: string;
  pubDate: Date;
}

const { href, title, pubDate } = Astro.props;
---

<li>
  <a href={href} class="group block">
    <div class="flex flex-col md:flex-row gap-2 md:gap-8 items-baseline">
      <p class="date font-mono text-sm shrink-0 w-24">
        {
          pubDate.toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })
        }
      </p>
      <h4 class="font-hg group-hover:underline underline-offset-4 decoration-slate-500 decoration-1">
        {title}
      </h4>
    </div>
  </a>
</li>
