---
export interface ProjectPageTextSection {
  heading: string;
  paragraphs: string[];
}

interface Props {
  title: string;
  tagline: string;
  textSections?: ProjectPageTextSection[];
}

const props = Astro.props;
---

<main class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <section class="flex flex-col gap-12">
    <header class="flex flex-col gap-4">
      <h1 class="text-6xl">{props.title}</h1>
      <hr class="h-2 w-20 bg-fuchsia-800" />
      <p>{props.tagline}</p>
    </header>
    {
      props.textSections &&
        props.textSections.map((section) => (
          <section class="flex flex-col gap-4">
            <h2 class="font-bold">{section.heading}</h2>
            {section.paragraphs.map((paragraph) => (
              <p>{paragraph}</p>
            ))}
          </section>
        ))
    }

    <section class="flex flex-col gap-2">
      <h2 class="font-bold">Technical</h2>
      <p>Built with React Native.</p>
      <p>Designed and developed independently by me.</p>
    </section>
    <a
      href="/"
      class="self-start items-center text-white p-4 rounded bg-gradient-to-r from-purple-800 to-fuchsia-800 hover:from-purple-950 hover:to-fuchsia-950"
    >
      Back to projects
    </a>
  </section>
  <section class="flex flex-col gap-4">
    <figure class="w-full aspect-video bg-slate-500"></figure>
    <figure class="w-full aspect-square bg-slate-500"></figure>
  </section>
</main>
