---
import Layout from "../../layouts/Layout.astro";
import "./project-page.css";
import vidArctic2 from "./arctic/arctic-vid-02.mp4";
import vidArctic3 from "./arctic/arctic-vid-03.mp4";
import ProjectPageVideo from "../../components/ProjectPageVideo.astro";
---

<Layout>
  <main class="project-content">
    <article class="left-side">
      <header>
        <h1>Arctic Sea Ice</h1>
        <hr class="!bg-slate-500" />
        <p>A super fast, 3D visualiser of NASA's Arctic sea ice data</p>
      </header>
      <section>
        <h2>Overview</h2>
      </section>
      <section>
        <h2>Technical</h2>
        <p>Designed, developed and published independently by me.</p>
      </section>
      <section class="!gap-2 !flex-row">
        <a href="https://canxerian.com/arctic-sea-ice/" class="button">
          Visit Site
        </a>
      </section>
    </article>
    <article class="right-side">
      <ProjectPageVideo src={vidArctic2} />
      <ProjectPageVideo src={vidArctic3} />
    </article>
  </main>
</Layout>
