---
import Layout from "../../layouts/Layout.astro";
import "./project-page.css";
---

<Layout>
  <main class="project-content">
    <article class="left-side">
      <header>
        <h1>Arctic Sea Ice</h1>
        <hr class="!bg-slate-500" />
        <p>A super fast, 3D visualiser of NASA's Arctic sea ice data</p>
      </header>
      <section>
        <h2>Overview</h2>
      </section>
      <section>
        <h2>Technical</h2>
        <p>Designed, developed and published independently by me.</p>
      </section>
      <section class="!gap-2 !flex-row">
        <a href="https://canxerian.com/arctic-sea-ice/" class="button"
          >Visit the site</a
        >
        <a href="/" class="button">Back to projects</a>
      </section>
    </article>
    <article class="right-side">
      <figure class="w-full aspect-video bg-slate-500"></figure>
      <figure class="w-full aspect-square bg-slate-500"></figure>
    </article>
  </main>
</Layout>
