---
import cuddlebookVid from "./cuddlebook/cuddlebook-vid-02.mp4";
import cuddlebookImg1 from "./cuddlebook/cuddlebook-img-01.png";
import cuddlebookImg2 from "./cuddlebook/cuddlebook-img-02.png";
import cuddlebookImg3 from "./cuddlebook/cuddlebook-img-03.png";
import Layout from "../../layouts/Layout.astro";
import "./project-page.css";
import { Picture } from "astro:assets";
import ProjectPageVideo from "../../components/ProjectPageVideo.astro";
---

<Layout>
  <main class="project-content">
    <article class="left-side">
      <header>
        <time>June 2023</time>
        <h1>Cuddlebook</h1>
        <hr />
        <p>An app for bilingual families to read stories together</p>
      </header>
      <section>
        <h2>Overview</h2>
        <p>
          Cuddlebook is a mobile app created from a personal desire to teach my
          children my second languages (Cantonese).
        </p>
        <p>
          The app is filled with short stories, perfect for any time of day,
          especially as part of a bedtime routine.
        </p>
        <p>
          It features AI-powered text-to-speech to help both parent and child
          learn the correct pronunciation of any given word or phrase.
        </p>
      </section>
      <section>
        <h2>Technical</h2>
        <p>Built with React Native.</p>
        <p>Designed, developed and published independently by me.</p>
      </section>
    </article>
    <article class="right-side">
      <ProjectPageVideo videoSrc={cuddlebookVid} />
      <Picture
        src={cuddlebookImg1}
        formats={["avif", "webp"]}
        alt="Cuddlebook, mobile app screenshots"
      />
      <Picture
        src={cuddlebookImg2}
        formats={["avif", "webp"]}
        alt="Cuddlebook, mobile app screenshots"
      />
      <Picture
        src={cuddlebookImg3}
        formats={["avif", "webp"]}
        alt="Cuddlebook, mobile app screenshots"
      />
    </article>
  </main>
</Layout>
