---
import Layout from "../../layouts/Layout.astro";
import "./project-page.css";
---

<Layout>
  <main class="project-content">
    <article class="left-side">
      <header>
        <h1>Cuddlebook</h1>
        <hr />
        <p>An app for bilingual families to read stories together</p>
      </header>
      <section>
        <h2>Overview</h2>
        <p>
          Cuddlebook is a mobile app created from a personal desire to teach my
          children my second languages (Cantonese).
        </p>
        <p>
          The app is filled with short stories, perfect for any time of day,
          especially as part of a bedtime routine.
        </p>
        <p>
          It features AI-powered text-to-speech to help both parent and child
          learn the correct pronunciation of any given word or phrase.
        </p>
      </section>
      <section>
        <h2>Technical</h2>
        <p>Built with React Native.</p>
        <p>Designed, developed and published independently by me.</p>
      </section>
      <a href="/" class="button"> Back to projects </a>
    </article>
    <article class="right-side">
      <figure class="w-full aspect-video bg-slate-500"></figure>
      <figure class="w-full aspect-square bg-slate-500"></figure>
    </article>
  </main>
</Layout>