---
import Layout from "../../layouts/Layout.astro";
import "./project-page.css";
---

<Layout>
  <main class="project-content">
    <article class="left-side">
      <header>
        <h1>Lusion, <br />reverse engineered</h1>
        <hr />
        <p>
          A recreation of <a href="https://lusion.co">lusion.co</a>, the <a
            href="https://www.awwwards.com/annual-awards-2023/site-of-the-year"
            >Awwwards 2023 site of the year</a
          > by the renowned Lusion creative production studio.
        </p>

        <blockquote class="italic"></blockquote>
        <div
          class="border-l-4 border-gray-300 pl-6 py-2 text-gray-800 text-gray-600"
        >
          <blockquote class="italic mb-4">
            One learns by doing the thing; for though you think you know it, you
            have no certainty until you try.
          </blockquote>
          <cite>- Sophocles</cite>
        </div>
      </header>
      <section>
        <h2>Rationale</h2>
        <p>
          I'm a curious being. When I see amazing work I can't help but wonder,
          how did they do that?
        </p>
        <p>
          And so I set myself a challenge: to recreate the lusion.co website, a
          website that seemingly defies what's possible with a browser.
        </p>
      </section>
      <section>
        <h2>The process</h2>
      </section>
      <section>
        <h2>What I learned</h2>
      </section>
      <a href="/" class="button">Back to projects</a>
    </article>
    <article class="right-side">
      <figure class="w-full aspect-video bg-slate-500"></figure>
      <figure class="w-full aspect-square bg-slate-500"></figure>
    </article>
  </main>
</Layout>
