---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate } = Astro.props;
---

<Layout>
  <article class="prose prose-slate w-full">
    <section class="date text-slate-500 mb-2">
      <time datetime={pubDate.toISOString()}>
        {
          pubDate.toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })
        }
      </time>
    </section>
    <h1 class="title text-4xl mb-4">{title}</h1>
    <hr />
    <slot />
  </article>
</Layout>
