---
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Mark Nguyen. Full stack software developer and designer" />
		<meta name="author" content="Mark Nguyen" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Mark Nguyen</title>
		<script defer src="https://cloud.umami.is/script.js" data-website-id="b0b2c49f-1535-485c-8914-82b1bbacb564"
		></script>
		<ViewTransitions />
	</head>
	<body>
		<nav>
			<a href="/">
				<h1>mark nguyen.</h1>
			</a>
		</nav>
		<slot />
		<script>
			const bar = "=====================================================";
			const msg = `${bar}
Hey 👋

Wanna go behind the scenes? The site is open source! 

https://github.com/canxerian/canxerian.github.io

Cheers,
Mark

${bar}
`;
			console.log(msg);
		</script>
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base {
		body {
			@apply w-full max-w-[1200px] m-auto min-h-screen flex flex-col gap-16 pt-2 pb-12 px-8;
		}

		h1 {
			@apply font-hg text-3xl;
		}

		h2 {
			@apply font-hg text-sm;
		}

		a {
			@apply font-hg text-slate-600;

			&:hover {
				@apply underline underline-offset-4;	
			}
		}
	}
</style>
